/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Oswald:wght@200&display=swap'); */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-title-200: #ff3964;
    --color-text-100: #fff;
    --color-text-200: #f2f2f2;
    --color-text-400: #e4e4e4;
    --color-text-600: #dbdbdb;

    --color-bg-400: #0b2228;
    --color-bg-800: #081b21;

    --color-active-400: #39c7ff;
    --color-active-200: #2ad4ff;

    --font-heading: 'Abel', Arial, sans-serif;

    --nav-bar-height: 8vh;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--color-bg-400);
    color: var(--color-text-100);

    font-size: 16px;

    // min-height: 100vh;
    // overflow-y: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/*  -------------------------------------
*    NAVBAR STYLINGS
*   -------------------------------------*/
.nav-bar {
    height: var(--nav-bar-height);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));

    display: flex;
    align-items: center;

    .container {
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
    }
    .logo__wrapper {

        display: flex;
        flex-wrap: wrap;

        align-items: flex-end;
        // justify-content: space-between;

        img {
            width: 100px;
        }
        p {
            font-size: 0.85rem;
            color: var(--color-text-600);

            span {
                color: var(--color-title-200);
            }
        }
    }
    .social-icon__wrapper {
        justify-self: right;

        a {
            color: var(--color-text-100);
            text-decoration: none;
            
            &:not(:first-of-type) {
                margin-left: 1em;
            }

            &:hover,
            &:active {
                color: var(--color-title-200);
            }
        }
    }
}


/*  -------------------------------------
*    HERO-HEADING STYLINGS
*   -------------------------------------*/
.hero-area {
    padding: 2em 0;

    .title {
        padding: 1em 0;
        font-family: var(--font-heading);
        line-height: 1.4;

        h1 {
            font-size: 3.15rem;
            color: var(--color-active-400);
        }
        h2 {
            font-size: 2rem;
            color: var(--color-text-600);
        }
        h3 {
            opacity: 0.5;
            margin-top: 0.4em;
        }
    }
}


/*  -------------------------------------
*    SEARCH-BAR STYLINGS
*   -------------------------------------*/
.search-bar__container {
    height: 32pt;
    width: 80%;
    max-width: 400px;

    position: relative;

    input[type="search"] {
        height: inherit;
        width: 100%;
        background-color: transparent;
        border: 2px solid var(--color-active-400);
        border-radius: 8px;
        padding: 0 3.65em 0 1em;

        color: var(--color-text-200);

        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 0px 8px var(--color-active-200);
        }
        &:active + button,
        &:focus + button {
            opacity: 1;
        }
    }
    button {
        position: absolute;
        top: 50%;
        right: 0;

        transform: translate(-10%, -50%);

        background-color: transparent;
        border: none;
        height: 32pt;
        width: 32pt;

        color: var(--color-text-100);
        opacity: 0.5;
        font-size: 1rem;

        &:hover,
        &:active,
        &:focus {
            outline: none;
        }
    }
}


/*  -------------------------------------
*    SEARCH-BAR STYLINGS
*   -------------------------------------*/
.results__container {
    margin-top: 4em;
    height: 48vh;
    // overflow-y: scroll;
}

.song__container {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 1em;
    padding: 0.65em;
    border-radius: 8px;
    background-color: var(--color-bg-800);

    position: relative;

    .song-image {
        width: 100%;
        border-radius: 4px;
    }
    .song-info__wrapper {

        & > * {
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .song-title {
            width: 18ch;
        }
        .song-artist {
            width: 20ch;
            opacity: 0.65;
        }
        .song-year {
            opacity: 0.45;
        }

        & *:focus,
        & *:hover,
        & *:active {
            outline: none;
        }
    }

    button {
        background-color: transparent;
        border: none;
        color: var(--color-active-400);
        font-size: 1rem;
        
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-60%, 40%);

        opacity: 0.5;

        &:focus,
        &:hover,
        &:active {
        opacity: 1;
        }
    }

    &:focus,
    &:hover,
    &:active,
    & *:focus,
    & *:hover,
    & *:active {
        outline: none;
    }

    &:focus,
    &:active {
        box-shadow: 0 0 8px hsl(194, 61%, 40%);
    }
}


/*  -------------------------------------
*    PLAYER STYLINGS
*   -------------------------------------*/

.player {
    background-color: black;
    height: 10vh;
    padding: 0 1em;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    align-items: center;

    .other-btn__wrapper {
        display: flex;
        align-items: center;

        button:not(:first-of-type) {
            margin-left: 1em;
        }
    }

    button {
        height: 28pt;
        width: 28pt;
        border-radius: 50%;
        border: none;
        font-size: 1.5rem;

        background-color: var(--color-bg-400);
        color: var(--color-text-100);


        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play-btn {
        height: 42pt;
        width: 42pt;

        padding-left: 5px;

        font-size: 2rem;
    }

    .stop-btn {
        height: 32pt;
        width: 32pt;
    }
}






@media screen and (min-width: 961px) {
    .container {
        width: 80%;

        max-width: 1350px;
    }
}